**/@types
edmx/
default-env.json
packages/messageBox
reviews/msg-box
reviews/db/test.db

# added by cds
.cdsrc-private.json
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
build/

# Web IDE, App Studio
.che/
.gen/
package-lock.json

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
dist/
*.zip
*.pdf
.env
*.mta
*.zip

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
.vscode
.eslintrc
